.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.error {
  color: red;
  margin: auto;
}


.treeText {
  height: 300px;
}

.output {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: lightblue;
}

.innerWrapper {
  height: 100vh;
}


.binary-tree {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 1px solid blue;
}

.node.left {
  /* margin-right: 2.5rem; */
}

.node.right {
  /* margin-left: 2.5rem; */
}

.node-id {
  font-weight: bold;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  /* border-radius: 60%; */
  /* width: 50px;
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-children {
  display: flex;
  margin: 5px;
}

.node-parent {
  border: 1px solid orange;
  margin: 10px;
}

#node-with-border {
  border: 2px solid green;
}